:root {
  --text-base: #334155;
  --color-primary: #cf0100;
  --text-white: #ffffff;
  --text-primary: #475569;
  --font-primary: Inter_regular;
  --font-primary-md: Inter_medium;
  --font-primary-light: Inter_light;
  --font-primary-bold: Inter_bold;
  --font-primary-semi: Inter_semibold;
  --disable-button: #de0b0b80;
  --light-background: #f8fafc;
}

@font-face {
  font-family: 'Inter_regular';
  src: url('../fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Inter_semibold';
  src: url('../fonts/Inter-SemiBold.ttf');
}

@font-face {
  font-family: 'Inter_bold';
  src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
  font-family: 'Inter_light';
  src: url('../fonts/Inter-Light.ttf');
}

@font-face {
  font-family: 'Inter_medium';
  src: url('../fonts/Inter-Medium.ttf');
}

html,
body {
  min-height: 100%;
  font-family: var(--font-primary), sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
i {
  font-weight: bold;
}
b {
  font-family: var(--font-primary-md), sans-serif;
}
small {
  font-size: 11px;
}
h1 {
  font-family: var(--font-header-reg), sans-serif;

  font-size: 36px;
}
h2 {
  font-size: 1.5rem;
  color: #25252d;
}
h3 {
  font-size: 1.2rem;
  color: #334155;
}
h4 {
  font-size: 1rem;
}
hr.hr_rule {
  border: 0.5px solid #e2e8f0;
}
p {
  font-family: var(--font-primary-light), sans-serif;
  font-size: 15px;
  /* color: #64748B; */
}

span {
  font-family: --circular_light, sans-serif;
  font-weight: 100;
}
.text-black {
  color: var(--text-base);
}
.text-primary {
  color: var(--color-primary);
}
.text-grey {
  color: #475569;
}
.text-white {
  color: #fff;
}
.text-bold {
  font-weight: bold;
}

/* margin-top */
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
  color: #c4c6c9;
}
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}

/* margin-bottom */
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-15 {
  margin-bottom: 15px;
}

/* margin-left */
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}

/* margin-right */
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}

/* margin y */
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* margin x */
.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

/* padding bottom */
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-30 {
  padding-bottom: 30px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pr-5 {
  padding-right: 5px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-30 {
  padding-right: 30px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-2 {
  padding-top: 2px;
}
.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pl-5 {
  padding-left: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-30 {
  padding-left: 30px;
}
.p-20 {
  padding: 20px;
}
.p-10 {
  padding: 10px;
}
.p-5 {
  padding: 5px;
}
.center {
  text-align: center;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-70 {
  width: 70%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}

/* flex */
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.justify_between {
  justify-content: space-between;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify_center {
  justify-content: center;
  align-items: center;
}
.justify_end {
  justify-content: flex-end;
}
.justify_start {
  justify-content: flex-start;
}
.justify_around {
  justify-content: space-around;
  align-items: center;
}
.align_center {
  display: flex;
  align-items: center;
}
.d-flex_column {
  display: flex;
  flex-direction: column;
}
.d-flex_column_center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob_flex_end {
  justify-content: flex-end;
  align-items: center;
}
.full_width {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.search_input_width.el-input {
  width: 80% !important;
}
.clickable {
  cursor: pointer;
}
.radius-5 {
  border-radius: 5px;
}
.bold {
  font-weight: bold;
}
.textarea {
  font-family: var(--font-primary-md), sans-serif !important;
}
.section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%;
  height: auto;
}

@media (max-width: 1240px) {
  .section {
    margin-left: 0;
    margin-right: 0;
    padding-left: 7px;
    padding-right: 7px;
    max-width: 1200px;
    width: 100%;
    height: auto;
  }
}

.btn_sm {
  width: 180px;
}
.btn_width {
  width: 60%;
}
.btn_lg {
  width: 100%;
}

.country-selector__label {
  display: none;
}
.country-selector__country-flag[data-v-46e105de] {
  top: 14px !important;
}
.country-selector.has-value .country-selector__input[data-v-46e105de] {
  padding-top: 1px !important;
  font-size: 14px !important;
  border-radius: 8px !important;
}
.country-selector.has-value .country-selector__input:hover {
  border: 1px solid var(--color-primary) !important;
}
.vue-phone-number-input .select-country-container {
  width: 99px !important;
  max-width: 98px !important;
  margin-right: 10px !important;
}
.country-selector[data-v-46e105de] {
  width: 109px !important;
}
@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  animation-duration: 4s;
  animation-delay: 8s;
  animation-iteration-count: infinite;
}
.vr {
  width: 32.5px;
  height: 0px;
  border: 1px solid #e2e8f0;
  transform: rotate(90deg);
}
